body {
    background-color: #ffffe9;
    font-family: Georgia, serif;
    line-height: 1.5;
    margin: 0;
    min-width: 250px;
    min-height: 100px;
    font-size: 16px;
    text-align: center;
}
#header {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #700), color-stop(1, #500));
    background-image: -webkit-linear-gradient(#700, #500);
    background-image: linear-gradient(#700, #500);
    border: none;
    background-color: #600;
    -webkit-font-smoothing: subpixel-antialiased;
    display: table;
    width: 100%;
}
#header li {
    list-style: none;
    text-transform: uppercase;
    letter-spacing: 0.1875em;
    line-height: 1;
    border-left: 0.0625em dotted #963;
    border-left: 0.0625em dotted rgba(255, 255, 255, 0.25);
    color: rgba(255, 255, 204, 0.9);
    text-decoration: none;
    display: table-cell;
    width: 33%;
}
#header li a {
    color: inherit;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 0.5em 0;
    cursor: pointer;
}
#none {
    color: rgba(102, 51, 0, 0.9);
    font-size: 18px;
}
.notification {
    color: rgba(102, 51, 0, 0.9);
    font-size: 18px;
    display: flex;
    align-items: stretch;
    border-bottom: solid 1px rgba(102, 51, 0, 0.1);
}
.notificationText {
    flex-basis: 90%;
    padding: 5px;
}
.closeBtn {
    flex-basis: 10%;
    display: flex;
    align-items: center;
    padding: 5px;
    border-left: solid 1px rgba(102, 51, 0, 0.1);
    cursor: pointer;
}
.closeBtn:hover {
    background-color: rgba(102, 51, 0, 0.05);
    color: rgba(102, 51, 0, 0.75);
}
.x {
    flex-grow: 1;
}
